@import "resets.scss";
@import "colors.scss";
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #000000;
}

.menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    margin-top: 10px;
}
.menu-icon span {
    display: block;
    margin: 0.5em 0;
    width: 40px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 5px;
}
header {
    background-color: #000000;
    height: 80px;
}
@media screen and (max-width: 468px) {
    .menu-icon {
        display: block; /* Exibe o menu-icon em telas menores */
    }
    .menu-toggle:checked + .menu-icon span:first-child {
        background-color: rgb(255, 0, 0);
        transform: rotate(45deg) translate(9px, 10px);
        width: 40px;
        border-radius: 5px;
    }
    .menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0%;
    }
    .menu-toggle:checked + .menu-icon span:last-child {
        background-color: rgb(255, 0, 0);
        transform: rotate(-45deg) translate(8px, -10px);
        width: 40px;
        border-radius: 5px;
    }
    header {
        padding: 0 1em;
        transition: 0.5s;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 100;
    }
    .logo {
        width: 20%;
        margin-top: 10px;
    }
    nav {
        width: 100%;
        z-index: -999;
        opacity: 0%;
        transition: 0.5s;
    }
    .plusHome {
        display: flex;
        align-items: start;
        flex-direction: column;
        // flex-direction: column;
        height: 250px;
    }
    .hamburg-logo {
        top: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .hide-show {
        width: 100%;
        z-index: 999;
        opacity: 100%;
    }
    ul {
        @include reset__list;
        margin: 0.5em 0;
        & li {
            border-radius: 10px;
            padding: 0.5em;
            color: white;
        }
        & li:hover {
            background: #505050;
        }
    }
    .slid1 {
        width: 100%;
    }
    .video{
        width:100%;
    }
    .sinopse {
        background: rgba(16, 16, 18, 0.377);
        background: linear-gradient(355deg, rgba(16, 16, 18, 0.897) 0%, rgba(0, 0, 0, 1) 100%);
        width: 30%;
        margin: auto;
        position: absolute;
        top: 65%;
        left: 36%;
        color: white;
    }
    .bnt_sinops {
        border: 2px solid red;
        border-radius: 10px;
        color: #ffffff;
        background-color: transparent;
    }
    .sectionSlides {
        color: white;
        padding: 1em;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .slides {
        margin: 0.5em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        overflow: hidden;
        transition: .5s;

    }
    .animeSlide {
        width: 45%;
        margin: 0 0.5em;
    }
    .slideANIME {
        width: 45%;
        margin: 0 0.5em;
    }

    .movendo {
        cursor: grabbing;
    }

    .wind {
        width: 100%;
        padding: 1em;
    }
    .wind__text {
        padding: 1em;
        color: white;
        height: 250px;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .kimetsu {
        width: 100%;
        padding: 1em;
    }
    .kimetsu__text {
        padding: 1em;
        color: white;
        height: 250px;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .ads_bnt {
        border: 2px solid rgba(255, 0, 0, 0);
        color: #212121;
        background-color: red;
        padding: 0.5em 1em;
    }
    .ads_bnt:hover {
        background-color: rgb(255, 37, 37);
        color: #ffffff;
    }
    .ver_bnt {
        border: 2px solid red;
        color: #ff0000;
        background-color: transparent;
        padding: 0.5em 1em;
    }
    .ver_bnt:hover {
        color: #ffffff;
        background-color: transparent;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-img {
        width: 50%;
        position: absolute;
        left: -20%;
        z-index: -10;
    }
    .rodape {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        ul {
            font-size: 10px;
            font-family: "Courier New", Courier, monospace;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            flex-wrap: wrap;
            li {
                list-style: circle;
            }
        }
    }
}
