@import "resets.scss";
@import "colors.scss";
@import "models.scss";
@keyframes ancora {
    0% {
        top: 85%;
    }
    50% {
        top: 82%;
    }
    100% {
        top: 75;
    }
}
@keyframes back {
    0% {
        background-color: $color__red;
    }
    50% {
        background-color: rgb(201, 93, 93);
    }
    100% {
        background-color: $color__white;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $color__black;
}
.menu-toggle {
    display: none;
}
.menu-icon span {
    @include height-width(5px, 40px);
    display: block;
    margin: 0.5em 0;
    background-color: $color__white;
    transition: 0.5s;
    border-radius: 5px;
}

.menu-icon {
    display: block; /* Exibe o menu-icon em telas menores */
}
.menu-toggle:checked + .menu-icon span:first-child {
    background-color: $color__red;
    transform: rotate(45deg) translate(9px, 10px);
    width: 40px;
    border-radius: 5px;
}
.menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0%;
}
.menu-toggle:checked + .menu-icon span:last-child {
    background-color: $color__red;
    transform: rotate(-45deg) translate(8px, -10px);
    width: 40px;
    border-radius: 5px;
}
header {
    width: 100%;
    background-color: black;
    @include flexBox(flex, center, 0, column);
    padding: 0 1em;
    transition: 0.5s;
    z-index: 100;
    position: fixed;
}
.logo {
    width: 20%;
}
.show {
    display: block;
    transition: 0.5s;
}
nav {
    display: none;
    width: 100%;
    color: white;
}
.hamburg-logo {
    @include flexBox(flex, center, space-between);
    top: 0%;
    width: 100%;
}
.catego {
    @include reset__list;
    margin: 0.5em 0;
    & li {
        border-radius: 10px;
        padding: 0.5em;
    }
    & li:hover {
        background: #505050;
    }
}
.slid1 {
    width: 100%;
}
.videozin {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover; /* Ajusta o vídeo para cobrir a tela */
}
.sinopse {
    @include height-width(auto, 30%);
    @include flexBox(flex, 0, center, 0);
    margin: auto;
    position: absolute;
    top: 85%;
    left: 36%;
    animation: 2s ancora backwards ease-in-out infinite;
}

.bnt_sinops {
    @include height-width(60px, 70px);
    @include flexBox(flex, center, center);
    border-radius: 100%;
}
.bnt_sinops span:first-child {
    @include height-width(5px, 35px);
    animation: 3s back backwards ease-in-out infinite;
    display: block;
    margin: 0.5em 0;
    background-color: $color__red;
    transform: rotate(40deg) translate(5px, 0px);
    border-radius: 5px 0 0 5px;
}
.bnt_sinops span:last-child {
    @include height-width(5px, 35px);
    animation: 3s back backwards ease-in-out infinite;
    display: block;
    margin: 0.5em 0;
    background-color: $color__red;
    transform: rotate(140deg) translate(6px, 1px);
    border-radius: 5px 0 0 5px;
}

.sectionSlides {
    @include height-width(96vh, auto);
    @include flexBox(flex, center, center, column);
    color: $color__white;
    padding: 1em;
}
.slides {
    @include flexBox(flex, center, center, 0);
    margin: 0.5em 0;
    overflow: hidden;
    transition: 0.5s;
}
.animeSlide {
    @include height-width(96%, 45%);
    margin: 0 0.5em;
}
.slideANIME {
    @include height-width(auto, 45%);
    margin: 0 0.5em;
}

.movendo {
    cursor: grabbing;
}

.wind {
    @include height-width(auto, 100%);
    padding: 1em;
}
.wind__text {
    @include height-width(250px);
    @include flexBox(flex, 0, center, column);
    justify-content: space-around;
    padding: 1em;
    color: $color__white;
    text-align: justify;
}
.kimetsu {
    width: 100%;
    padding: 1em;
}
.kimetsu__text {
    @include flexBox(flex, 0, space-around, column);
    padding: 1em;
    color: $color__white;
    height: 250px;
    text-align: justify;
}
.ads_bnt {
    @include bg-color_color($color__red, $color__black);
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 0.5em 1em;
}
.ads_bnt:hover {
    @include bg-color_color($color__red, $color__white);
}
.ver_bnt {
    border: 2px solid $color__red;
    @include bg-color_color(transparent, $color__red);
    padding: 0.5em 1em;
}
.ver_bnt:hover {
    @include bg-color_color(transparent, $color__white);
}
footer {
    @include flexBox(flex, center, center);
}
.footer-img {
    width: 50%;
    position: absolute;
    left: -10%;
    z-index: -10;
}
.rodape {
    padding: 1em;
    @include flexBox(flex, center, center, column);
    ul {
        @include flexBox(flex, center, center, 0);
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 10px;
        font-family: "Courier New", Courier, monospace;
        li {
            list-style: circle;
        }
    }
}
